.headerContainer {
  padding: 15px 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon {
  display: none;
}

.title {
  font-size: 24px;
  font-weight: 500;
}
.headerRight {
  display: flex;
  align-items: center;
  gap: 8px;
}
.headerRight span {
  color: #777;
  font-weight: 500;
}
.headerRight img {
  width: 35px;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .icon {
    display: block;
  }
}
