.cont_input {
  position: relative;
}
.form__input,
.form__input.form__area {
  outline: none;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 2px solid #e2e2e2;
  padding: 0 20px;
  color: #1f1f1f;
  transition: 0.2s;
}
.form__input:hover,
.form__input.form__area:hover,
.form__input:focus {
  border-color: var(--btn-color);
}

.form__label {
  font-size: 16px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  padding: 0 0.5rem;
  pointer-events: none;
  color: gray;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background: #fff;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -1px;
  font-size: 14px;
  left: 5px;
  padding: 0 0.5rem;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
