.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a202c;
  color: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  z-index: 1;
}
.sidebarUp,
.sidebarDown {
  display: flex;
  flex-direction: column;
}

.sidebar_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px auto;
  background-color: #2d3748;
  padding: 6px;
  color: #48bb78;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidebar_icon:hover {
  background-color: #38a169;
  color: #fff;
  border-radius: 6px;
}

.sidebar_tooltip {
  position: absolute;
  width: auto;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: max-content;
  left: 3.5rem;
  border-radius: 0.375rem;
  color: #fff;
  background-color: #1a202c;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  font-weight: 500;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: left;
}
.sidebar_icon:hover .sidebar_tooltip {
  transform: scale(1);
}
