.gridHeader {
  position: relative;
  padding: 12px 24px;
  border-bottom: 2px solid #e5e7eb;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.gridEntries {
  display: flex;
  align-items: center;
  gap: 5px;
}
.gridEntries span {
  color: #666;
}

.gridOptions {
  display: flex;
  align-items: center;
}

/********************************************/
.gridWrapper {
  overflow-y: hidden;
  overflow-x: scroll;
}
.gridTable {
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  width: 100%;
  box-shadow: 0 5px 10px #e1e5ee;
}
.gridTable .gridThead {
  box-shadow: 0 1px 5px #e1e5ee;
}
.gridTh {
  position: relative;
  color: #6b7280;
  padding: 14px 24px;
  text-transform: uppercase;
}
.gridTd {
  padding: 12px 24px;
  color: #4f546c;
}

.tdActions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gridTr:nth-child(even) {
  background-color: #f4f6fb;
}

/***************************/

.gridFooter {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 24px;
  border-top: 1px solid #e5e7eb;
  background-color: #fff;
  box-shadow: 0 5px 10px #e1e5ee;
  border-radius: 0 0 8px 8px;
}
.gridPagination {
  color: #3d4044;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #20b2aa;
}
.pagNum {
  cursor: pointer;
  display: flex;
  min-height: 35px;
  min-width: 35px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: all 0.3s ease;
}
.pagNum:hover,
.pagActive {
  background: #20b2aa;
  color: #fff;
  user-select: none;
}

.disabledBtn {
  background: rgba(128, 128, 128, 0.219);
  border-radius: 50%;
  color: #000;
  user-select: none;
  pointer-events: none;
}

@media (max-width: 840px) {
  .gridPagination {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .pagContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .gridHeader {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gridSearch,
  .gridEntries {
    width: 100%;
  }
  .gridEntries {
    justify-content: center;
  }
  .gridWrapper {
    overflow: hidden;
  }
  .gridTable {
    border: 0;
  }

  .gridTable caption {
    font-size: 1.3em;
  }

  .gridTable .gridThead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .gridTable .gridTr {
    border-bottom: 3px solid #ddd;
    display: block;
  }

  .gridTable .gridTd {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #666;
  }

  .gridTable .gridTd::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
  }

  .gridTable .gridTd:last-child {
    border-bottom: 0;
  }
}
