@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --max-width-container: 1700px;
  --padding-top-container: 100px;
  --padding-left-container: 30px;
  --padding-right-container: 30px;
  --btn-color: #1b8f43;
  --btn-hover-color: #127534;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e4e9f7;
  min-width: 320px;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.break a {
  cursor: pointer;
}
input,
button,
select {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}
